.inline-block {
    display: inline-block;
    vertical-align: top;
}
body {
    background-color: #f4f4f4;
}
.logoPurp {
    width: 10%;
    padding: 1%;
    /* I don't know why the purple logo is getting huge if I don't keep its width to 10%; it's something about the flex display in the logoTitle class, but I don't know why. its getting bigger than the source image. WAIT IS IT THE PARAGRAPH? removed this: <p class="titleHRRN">House Rabbit Resource Network</p>. Nope it wasn't that. Put it back. */
}
.logoTitle, .titleHRRN {
    color: #33103B;
    font-family: Rosario, Times, serif;
    font-size: 32px;
    display: flex;
    align-items: center; 
}
.navTab {
    background-color: #33103B;
    color: #f4f4f4;
    border-radius: 12px 12px 0px 0px;
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Rosario, Times, serif;
    font-size: 28px;
}
h2 {
    font-family: Rosario, Times, serif;
    font-size: 28px;
    text-decoration: underline;
}
h1 {
    font-family: Rosario, Times, serif;
    font-size: 32px;
}
h3 {
    font-family: Rosario, Times, serif;
    font-size: 24px;
}
.navLink {
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.grid-container-nav {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px;
    /* could probably go back to this and make the links shape to the width of the text, but this is OK. Also could have the vertical line separators feasibly. */
}
.gridLink {
    color: #010101;
}
.ourMission {
    font-family: Rosario, Times, serif;
    font-size: 36px;
    font-weight: bold;
    color: black;
    padding: 10px;
}
.heroImg {
    position: relative;
    width: 98vw;
}
.heroDiv {
    position: relative;
    width: 98vw;
}
#aboutUs {
    background-color: #FFCA31;
    color: #33103B;
    border: none;
    text-align: center;
    font-family: Rosario, Times, serif;
    font-size: 28px;
    padding: 5px;
    width: 388px;
    border-radius: 24px;

    /* I acknowledge that this is a dirty hackjob for now but it's gonna get the job done for the moment. Actually it seems to be better with position: absolute; previously it was this: [transform: translate(67vw, -80px);]. Anyways a media query would be good here to make it not look so bad when it goes to a mobile size viewport. */
    position: absolute;
    left: 70%;
    top: 76%;
}
.CTAcards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 95vw;
    column-gap: 1vw;
    padding: 1.5vw;
}
.cardImg {
    width: 95%;
    padding: 2.5%;
}
.card {
    background-color: #33103B;
    color: #f4f4f4;
    padding: 5px;
    border-radius: 13px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 15% 30% 15%;
    /* (maybe 50% 10% 20% 20% ?) shoudl go image title text button - need to respace this*/
}
.cardText {
    padding: 2.5%;
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 18px;
}
button {
    background-color: #FFCA31;
    color: #33103B;
    border: none;
    text-align: center;
    font-family: Rosario, Times, serif;
    font-size: 28px;
    border-radius: 24px;
    margin: 5px;
}
#takeQuiz, #bunnyBoutique, #findOutMore {
    width: 60%;
}
.rightButton {
    display: flex;
    flex-direction: row-reverse;
}
.news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95vw;
    grid-gap: 1vw;
    padding: 0%;
}
#imgFunRun {
    width: 95%;
    padding: 2.5%;
}
.funRunCard {
    color: #33103b;
    background-color: #C5E4CA;
    border-radius: 13px;
}
.funRunText {
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 18px;
    margin: 20px;
}
#funRun, #topics, #learn {
    margin: 2.5%;
}
.rabbitArticlesDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95vw;
    grid-gap: 1vw;
    padding: 2%;
}
.bunnyTopics {
    background-color: #F7EAC3;
    color: #33103b;
    padding: 10px;
    border-radius: 13px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 75%;
}
.learningKids {
    background-color: #F6C5CE;
    color: #33103b;
    padding: 10px;
    border-radius: 13px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 75%;
}
footer {
    background-color: #33103b;
    color: #f4f4f4;
}
.footerGrid {
    display: grid;
    grid-template-columns: 1fr 3fr 11fr;
    align-items:center;
}
.contactInfoP {
    margin: 0;
    padding: 0;
}
.socMed {
    width: 50px;
}
.socialMedia {
    display: flex;
    flex-direction: row-reverse;
    vertical-align: bottom;
}
.logoLite {
    width: 80%;
    padding: 10%;
}